body {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: cursive;  
  text-align: center;
  padding: 30px;
}

h2 {
  text-align: center;
}

nav {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(106, 195, 230);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: slategray;
}

li:first-child {
  background-color: rgb(29, 29, 29);
  padding: 0px 8px 0px 8px;
}

.content {
  margin: 0;
  padding: 0;
  text-align: center;
}

#sisters {
  height: auto;
  width: 850px;
  max-width: 100%;
  padding: 15px 0px 0px 0px;
  
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(106, 195, 230);
  margin-top: 2em;
}

footer #item{
  display: flex;
  justify-content: center;
  align-items: center;
}


#item {
  height: 50px;
  width: 50px;
  display: inline;
  padding-left: 20px;
}

#wonderland {
  height: auto;
  width: 40%;
  max-width: 100%;
  padding: 0 20px 0 20px;
  margin: 10px;
  float: right;
}

#page {
  display:flex;
  flex-wrap:wrap;
  max-width: 1100px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#box {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

#box a {
  text-decoration: none;
  color: black;

}

#box a:visited  {
  color: rgb(106, 195, 230);
}

#box a:hover {
  color: gray;
}

#one, #two, #three, #four { 
  display:flex;
  justify-content:center;
  align-items: center;
  height: 6em;
  width: 6em;
  border: 5px solid black;
  margin: 10px;
  padding: 20px;
}

#origin {
  margin-top: 2em;
  height:auto;
  width: 90%;
  max-width: 100%;

}

/* POPUP */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#truths {
  margin-top: 2em;
  font-size: 1.3em;
  line-height: 2;
}

