h1 {
  font-family: cursive;  
  text-align: center;
  padding: 30px;
}

nav {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(106, 195, 230);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: slategray;
}

li:first-child {
  background-color: rgb(29, 29, 29);
  padding: 0px 8px 0px 8px;
}

.content {
  margin: 0;
  padding: 0;
  text-align: center;
}

#sisters {
  height: auto;
  width: 600px;
  max-width: 100%;
  padding: 15px 0px 0px 0px;
  
}



footer h5 {
  display: inline;
}

#l_icon {
  height: 50px;
  width: 50px;
  display: inline;
  padding-left: 8px;
}

#wonderland {
  height: auto;
  width: 300px;
  max-width: 100%;
  padding: 20;
}